<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <!-- Custom CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.ico') }}" type="image/x-icon">
    <title>BruCRM</title>
</head>
<body>
    <header>
        <div id="logo">
            <a href="#">Consulta de Pedidos</a>
        </div>
        <nav id="menu">
            <button class="nav-mobile" id="nav-mobile">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="nav-menu">
                {% if g.user and g.user['rol_user'] == 'admin' %}
                <li><a href="{{ url_for('listar_usuarios') }}">Gestión de Usuarios</a></li>
                <li><a href="{{ url_for('tickets.list_tickets') }}">Gestión de Tickets</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>      
    <main>
        <section>
            <div class="welcome-container">
                <p>¡Bienvenido, {{ g.user['nombre']  }}!</p>
            </div>
            
            <!-- Formulario para la primera consulta -->
            <form id="fetch-tickets" class="d-flex align-items-center gap-2">
                <label for="create_at">Tikets creados en:</label>
                <input type="date" id="created_at" name="created_at" placeholder="Ingrese una fecha">

                <label for="status">Estado:</label>
                <select id="status" name="status">
                    <option value="">Todos</option>
                    {% for status in statuses %}
                    <option value="{{ status.id }}">{{ status.name }}</option>
                    {% endfor %}
                </select>

                <label for="priority">Prioridad:</label>
                <select id="priority" name="priority">
                    <option value="">Todas</option>
                    {% for priority in priorities %}
                    <option value="{{ priority.id }}">{{ priority.name }}</option>
                    {% endfor %}
                </select>

                <label for="category">Categoría:</label>
                <select id="category" name="category">
                    <option value="">Todas</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                
                <input type="hidden" id="cod_vend" name="cod_vend" value="{{ g.user['cod_vend']  }}" >
                <input type="submit" value="Enviar" class="btn btn-primary">
            </form>
        </section>
        <!-- Div para mostrar los resultados de la segunda consulta -->
        <div id="resultados2">
            <ul class="list-group">
                {% for ticket in tickets %}
                    <li class="list-group-item mb-2">
                        <button class="collapsible" data-bs-toggle="collapse" data-bs-target="#collapse-ticket-{{ ticket.id }}" aria-expanded="false">{{ticket.client_id}} - {{ticket.title}} - {{ticket.status_id}}</button>
                        <div id="collapse-ticket-{{ticket.id}}" class="collapse mt-2">
                            <b>Category: {{ticket.category}}</b><br>
                            <b>Status: {{ticket.status}}</b><br>
                            <b>Prioridad: {{ticket.priority}}</b><br>
                            <b>Creado en: {{ticket.created_at}}</b><br>
                            <b><a href="/ticket/{{ticket.id}}" class="ver-detalle">Ver Detalles</a></b>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            
        </div>    
        <!-- Modal -->
        <div class="modal fade" id="detalleModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="detalleModalLabel">Detalles del Pedido y Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="detalleModalBody">
                <!-- Aquí se cargará dinámicamente el contenido -->
                <p>Cargando detalles...</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>
  
    </main>
    <script>
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/static/service-worker.js')
            .then(registration => {
              console.log('Service Worker registrado con éxito:', registration.scope);
            })
            .catch(error => {
              console.error('Error registrando el Service Worker:', error);
            });
        }
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="{{ url_for('static', filename='tickets.js') }}"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>  
</body>
</html>
